#elem {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    display: inline-block;
}

.secondElem {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: red;
    display: inline-block;
}

.redText {
    color: red;   
}

.greenText {
    color: green;   
}

.blackText {
    color: black;   
}