body {
    margin: 0;
}

header.row {
    background: rgb(46, 44, 44);
}

.container {
    padding: 10px;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    color: white;
}

p.albumText {
    margin: 0;
    display: inline-block;
}

.headerIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: indianred;
}

section.albumsSection h1 {
    font-size: 30px;
    text-align: center;
}

section .albumMain, 
section .mainButtons {
    max-width: 400px;
    text-align: center;
    margin: 15px auto;
}

section.featuretteSection {
    background-color: burlywood;
    padding: 20px 0;
}

section.featuretteSection .smallContainer {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.smallContainer .myPhoto {
    width: 50%;
    height: 200px;
    background-color: gray;
}

section.headings {
    background-color: brown;
}

.mainContainer{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.circle3 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: cyan;
}
 
.mainContainer.purple {
    background-color: purple;
    justify-content: flex-start;
    margin: 15px auto;
    padding: 10px;
} 

.letter {
    padding: 10px;
    border: 1px solid white;
    color: white;
}
footer {
    background-color: black;
    position: relative;
}

footer a {
    position: absolute;
    right: 10px;
    top: 10px;
}