body{
    margin: 0;
}
header.row {
    background: rgb(46, 44, 44);
}
.container {
    padding: 10px;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    color: white;
}
p.albumText {
    margin: 0;
    display: inline-block;
}
.headerIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: indianred;
}

section.albumsSection h1{
    font-size: 30px;
    text-align: center;
}

section .albumMain, 
section .mainButtons{
    max-width: 400px;
    text-align: center;
    margin: 15px auto;
}
